/* Inicio Nabvar */

.navbar-custom {
  background-color: #003361;
  height: 85px;
  padding: 0 10px;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ccc !important;
}

.nav-link.active {
  color: #ccc !important;
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1rem;
}

/* Fin Nabvar */
